!!! 5

%html
  %head
  %title Visualization
  %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no", :name => "viewport"}
  = stylesheet_link_tag "application", media: "all"
  = csrf_meta_tags

  %body
    %header
      .logo
        AppName

      #optional-dropdown
        %ul
          %li
            %a
              = icon "&#xe000;"

      #mini-nav
        %ul
          %li
            = render "shared/logged_in_user"



    .main-container
      #mainnav
        %ul
          %li.active
            %span.current-arrow
            %a
              .icon
                = icon "&#xe0a2;"
              Dashboard

      .dashboard-wrapper
        .row.page-title
          %h2 Page Title

        = yield

    = javascript_include_tag "application"
