!!! 5

%html
  %head
  %title Visualization
  %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no", :name => "viewport"}
  = stylesheet_link_tag "application", media: "all"
  = csrf_meta_tags

  %body
    .notifications.top-right

    %header
      .logo

      #optional-dropdown
        %ul
          %li
            %a{:href => root_url}
              = icon "&#xe000;"
            }

      #mini-nav
        %ul
          %li
            %a
              %span.text-label#the_time
              = icon "&#xe048;"
          %li
            = render "shared/logged_in_user"



    .main-container
      #mainnav
        %ul
          - menu_items().each do |m|
            - active = current_page?(m[2])
            %li{:class => active && "active"}
              - if active
                %span.current-arrow
              %a{:href => m[2]}
                .icon= icon(m[1])
                = m[0]

      .dashboard-wrapper
        = yield

    = javascript_include_tag "application"
