!!! 5

%html
  %head
  %title Visualization
  = stylesheet_link_tag "application", media: "all"
  = csrf_meta_tags

  %body
    %header
      .logo
        AppName

      #mini-nav
        %ul
          %li
            = render "shared/logged_in_user"



    .main-container
      .dashboard-wrapper
        .row.page-title
          %h2 Page Title

        = yield

    = javascript_include_tag "application"
